
<script id="my-modal.html"type="text/ng-template">
  <ion-modal-view id="lgin">
    <ion-header-bar class="bar-energized">
      <h1 class="title">登录</h1>
      <a class="button" ng-click="closeModal()">关闭</a>
    </ion-header-bar>
    <ion-content>
      <form action="/" method="post" id="login">
        <label for="">用户名：</label>
        <input type="text" name="name" placeholder="请输入用户名"><br>
        <label for="">密码：</label>
        <input type="password" name="password" placeholder="请输入密码">
        <input type="submit" value="登录">
        <p>没有账号？立即 <a href="/regist">注册</a></p>
      </form>
    </ion-content>
  </ion-modal-view>
</script>